body{
	background-color: #f4f4f4;
}
.container {
	margin-top: 58px;
	margin-bottom: 58px;
    background-color: #f4f4f4;
}
p{
  margin-left: 15px;
}
.pmt{
	background-color: #f4f4f4;
	
}
hr {
    border-top: 2px solid rgba(0,0,0,.1);
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

