body{
	background-color: #f4f4f4;
}
.rdo{
        margin-left: 12.5rem
}
.container {
    width: 100%;
    /*padding-right: 0px;
    padding-left: 0px;*/

    /*background-color: red;*/
    margin-right: auto;
    margin-left: auto;
}
p{
  margin-left: 18px;
}
.pmt{
	background-color: #f4f4f4;
	
}
hr {
    border-top: 2px solid rgba(0,0,0,.1);
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

